<mat-toolbar class="header">
  <a routerLink="pagina-inicial">
    <img
      src="logo_caixa_header_negativa.svg"
      class="logo-img"
      alt="Logo Caixa"
    />
  </a>

  <span class="logo">| Investimentos disponíveis para você.</span>

  <span class="spacer"></span>

  <div class="header-actions">
    <a
      mat-button
      href="https://internetbanking.caixa.gov.br/sinbc/#!nb/login"
      target="_blank"
      class="ancora-header"
    >
      <mat-icon>lock</mat-icon> Acesse sua Conta
    </a>

    <a href="login" target="_blank" class="botao-acesse-sua-conta">
      <mat-icon>lock</mat-icon>
      <span>Área do Investidor</span>
    </a>
  </div>
  <!-- FIM -->
</mat-toolbar>
