<mat-toolbar color="primary" class="footer">
  <div class="footer-content">
    <span class="footer-text">
      CAIXA ECONÔMICA FEDERAL - CNPJ 00.360.305/0001-04. SBS QUADRA 4 LT 3/4, ASA SUL - CEP 70.070-140 BRASÍLIA - DF
    </span>

    <div class="footer-icons">
      <a
        mat-icon-button
        href="https://github.com"
        target="_blank"
        aria-label="Github"
      >
        <mat-icon>github</mat-icon>
      </a>
      <!-- Adicione outros ícones aqui, se necessário -->
    </div>
  </div>
</mat-toolbar>
